<br><br>

<div class="container">
    <header class="row">
      <p> <label> Vehicles Model </label> </p>
    </header>
    <div class="row">
        <div role="main" class="col-md-6 col-md-push-3">
            <div id="list" class="row">
		 
		    <div class="table-responsive col-md-12">
		        <table class="table table-striped" cellspacing="0" cellpadding="0">
		            <thead>
		                <tr>
		                    <th>ID</th>
		                    <th>Name</th>
		                    <th>Type</th>
		                    <th>Motor</th>
                            <th>Manufacture ID</th>
		                    
		                    <th class="actions">Actions</th>
		                 </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="vehicleModel in $ctrl.service.vehiclesModel | filter:$ctrl.service.search:strict">

		                    <td> {{ vehicleModel.id }} </td>
		                    <td> {{ vehicleModel.name }} </td>
		                    <td> {{ vehicleModel.vehicle_type }} </td>
		                    <td> {{ vehicleModel.motor }} </td>
                            <td> {{ vehicleModel.manufacturer_id }} </td>
		                    	
		                    <td class="actions">
		                        <a class="btn btn-warning btn-xs" ng-click="$ctrl.service.editVehicleModelUpdateView($index)"> Edit </a>
		                        <a class="btn btn-danger btn-xs"  ng-click="$ctrl.service.deleteVehicleModelPopView($index)"> delete </a>
		                    </td>

		                </tr>
		 
		            </tbody>
		         </table>
		 
		     </div>
		 	</div> 
       		</div>

        <aside role="complementary" class="col-md-3 col-md-push-3">

          	  <p> 
                <label> Edit: </label> 
                </p>
          	  <p> <label> Name: </label>          <input ng-model="$ctrl.service.stateVehicleModelEdit.name" />          </p>
          	  <p> <label> Manufacture: </label>   

               
          	  		<select ng-model="$ctrl.service.stateVehicleModelEdit.selectedManufacture" ng-options="m.name for m in ::$ctrl.service.manufactures track by m.id">
          	  		</select>
			  </p>

          	  <p> 
          	  		<label> Type: </label>  
                    <select ng-model="$ctrl.service.stateVehicleModelEdit.selectedVehicleType" ng-options="vt for vt in ::$ctrl.service.vehicleTypeChoice">
                    </select>
          	  </p>

          	  <p> 
          	  		<label> Motor: </label>  
                    <select ng-model="$ctrl.service.stateVehicleModelEdit.selectedMotor" ng-options="mt for mt in ::$ctrl.service.motorChoiceCar">
                    </select>
          	  </p>
          	  
          	  <p> <a class="btn btn-primary btn-xs" ng-if="$ctrl.service.isCreate" ng-click="$ctrl.service.createVehicleModel()"> Create </a> 
          	  	  <a class="btn btn-info btn-xs" ng-if="!$ctrl.service.isCreate" ng-click="$ctrl.service.updateVehicleModel()"> Save </a> 
          	  	  <a class="btn btn-danger btn-xs" ng-click="$ctrl.service.clearEdit()"> Clear </a> 
          	  </p>
          	  
        </aside>
        <nav class="col-md-3 col-md-pull-9">
        	  <p> <label> Search: </label> </p>
          	  <p> <label> Name: </label>          <input ng-model="$ctrl.service.search.name" />          </p>
          	  <p> <label> Manufacture: </label>   
          	  		<select ng-model="$ctrl.service.manufacturerFilter" ng-options="m.name for m in ::$ctrl.service.manufactures track by m.id"  ng-change="$ctrl.service.changeManufacturerFilter()">
                    </select>

			  </p>

          	  <p> 
          	  		<label> Type: </label> 
      	  			<select class="selectpicker" ng-model="$ctrl.service.search.vehicle_type">
						<option ng-repeat="vehicleType in $ctrl.service.vehicleTypeChoice" value="{{vehicleType}}"> {{ vehicleType }}  </option>
					</select>
          	  </p>

          	  <p> 
                    <label> Motor: </label>  
                    <select ng-model="$ctrl.service.search.motor" ng-options="mt for mt in ::$ctrl.service.motorChoiceCar">
                    </select>
          	  </p>

               <td class="actions">
                    <a class="btn btn-warning btn-xs" ng-click="$ctrl.service.clearSearch()"> clear </a>
                </td>
        </nav>
    </div>
    <footer class="row">
        
    </footer>
</div>
